.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
/*.egg-info/
dist/
build/
*.egg-info/
*.log
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.iml
.env
.env*
.venv/
*.db
PKG-INFO
MANIFEST
SOURCES.txt

uv.lock
data/
